html{
    background-image: url(../images/bats.gif);
    margin: auto;
    width: 800px;
}

body{
    font-family: Helvetica, sans-serif;
	border: 1px solid black;
	box-shadow: 3px 15px 18px 10px black;
	background: white;
}

main{
    padding: 30px;
    height: 500px;
}

#nav_bar ul {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#nav_bar ul li{
	float: left;
	padding: 0;}

#nav_bar ul li a{
	display: block;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 0.5em 0;
	font-size: 90%;
	width: 159.6px;
	text-align: center;
	font-weight: 200;
}

#nav_bar ul li a.home{
	color: #FFA500;
}

#nav_bar ul li a:hover, #nav_bar ul li a:focus {
	background-color: gray;
}

#nav_bar ul ul{
	display: none;
	position: absolute;
	top: 100%;
}

#nav_bar ul ul li{
	float: none;
	position: relative;
	font-size: 90%;
}

#nav_bar ul li:hover > ul{display:block;}

#nav_bar > ul::after{
	content: "";
	display: block;
	clear: both;
}

header{
    border-bottom: 3px solid black;
    padding: 0.1px;
    background-image: -webkit-linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
    height: 98px;
}

img{
    float: left;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 15px;
    margin-bottom: px
}

header h2{
    font-size: 250%;
    color: black;
    text-indent: 1.5px;
    line-height: 3px;
    padding-top: 5px;
} 

header h3{
    margin-top: -13px;
}

aside{
    float: left;
    width 160px;
    margin-left: -30px;
    margin-top: -50px;
    padding-right: 20px;
}

aside ul{
    list-style-type: none;
    margin-left: 0.5em;
}

#list ul li a{
	width: 108px;
	margin-bottom: 0.5em;
	border: 3px solid black;
	padding: 0;
    display:block ;
	text-decoration: none;
	padding: 0.25em 0.5em;
	color: black;
	font-size: 100%;
	background-color: #FFA500;
	font-weight: bold;
}

#list ul li a:hover, #list ul li a:focus{background-color:gray;}

body h1, h2, h3, p, ul {padding:0 1em;}

h3{
    padding-top: -10px
}

main h2{
    margin: 0px;
    text-align: center;
    padding-bottom: 10px;
}

table{
    height: 360px;
    width: 60%;
}

th{
    text-align: left;
}

thead th{
    color: gray;
    width: 2500px;
    padding-bottom: 10px;
}

tbody th{
    vertical-align: top;
    font-weight: bold;
}

tbody a{
    color: black;
}

#price {
	background-color:#F5DEB3;
	text-align: right;
	width: 10%;
    margin-left: 40px;
}

#pt{
    padding-left: 20px
}

footer{
	font-size: 90%;
	text-align:center;
	border-top: 2px solid black;
	padding: 0.5em 1em;
    margin-top: -70px;
	line-height: 1px;
	clear:left;
    font-weight: bold;
	background: -webkit-linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
	background: -moz-linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
	background: -o-linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
	background: linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
}